body {
    background-color: rgb(172, 193, 204);
    font-family: 'Handlee', cursive;
    font-family: 'Open Sans Condensed', sans-serif;
   
    
}

#navbar-brand {
    color: rgb(196, 54, 54);
    font-weight: bold;
    font-size: 35px;
    font-family: 'Great Vibes', cursive;
}

.links{
  margin-left: 81%;
}


main {
  background-color: rgb(221, 129, 113);
  width: 1470px;
    height: 900px;
    padding: 30px;
    border: 1px solid rgb(221, 129, 113)
  }

footer {
    background-color: gray;
    border: 1px solid gray;
  }

