body {
    /* background-image: url('../Images/00100sPORTRAIT_00100_BURST20200915114202110_COVER.jpeg'); */
    font-family: 'Handlee', cursive;
    font-family: 'Open Sans Condensed', sans-serif;

}

.card-title {
    font-size: 45px;
    font-weight: bold;
    border-bottom: solid lightgray 1px;
    border-right-width: 90px;
    font-family: 'Shadows Into Light', cursive;
    color: black

}

#navbar-brand {
    font-weight: bold;
    font-size: 35px;
    font-family: 'Great Vibes', cursive;
    color: rgb(196, 54, 54)
}
.links{
  margin-left: 81%;
}


main {
    width: 1470px;
    height: 670px;
    padding: 40px;
    border-bottom: 15px solid rgb(131, 180, 180);
    
  }

footer {
    background-color: gray;
    border: 1px solid gray;
  }
  
  .jumbotron {
    background-color: rgb(221, 129, 113) ;
    height: 10px;
    font-family: 'Shadows Into Light', cursive;

  }

/* 
  Responsive Design for iPhone X */
  /* @media only screen and (max-width:400px) { */

    /* #card-body {
      
    }

  } */

    /* Responsive Design for iPad II */
    /* @media only screen and (min-width: 401px) {
      #navbar-brand {
        background-color: rebeccapurple;
      }
    /* /* } 